html, body, #root {
  height: 100%;
  padding: 0;
  margin: 0;
}

.dashboard {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  background-color: #ddd;
  box-shadow: 0 0 10px #000;
  padding: 5px;
  color: #000;
  box-sizing: border-box;
  font-size: 12px;
  display: flex;

  .react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
    right: 95px;
  }
  
  li.react-datepicker__time-list-item {
    line-height: 30px;
  }
}

button {
  font-size:1em;
  display: block;
  height: 2em;
  border: 0;
  border-radius: 5px;
  outline: 0;
  box-shadow: 0 0 1px rgba(0, 0, 0, .5);
  background-color: #fff;
  cursor: pointer;

  &:active {
    background-color: #eee;
  }
}

.react-datepicker-wrapper {
  flex: 1;
}

.datetime-picker {
  color: inherit;
  width: 16em;
}

.speed {
  border-right: 1px solid #aaa;
  margin-right: 5px;
  padding-right: 5px;
  width: 150px;
  display: flex;
  align-items: center;

  label {
    display: block;
    white-space: nowrap;
    margin-right: 10px;
  }

  .rc-slider-track {
    background-color: #666;
  }
  
  .rc-slider-handle {
    border-color: #666 !important;
  }
}

.play-button {
  white-space: nowrap;
  width: 3em;

  &::before {
    content: '▶';
    transform: scaleX(1);
    display: inline-block;
  }

  &.playing {
    &::before {
      content: '■ ■';
      transform: scaleX(.5);
    }
  }
}
